.maincontainer{
  padding: 30px;
  background-color: #efeeee;

}





.ordercontainer{
  background-color: #fff;
  padding: 20px;

}

.ordercontainer h2{
  border-bottom: 21px solid yellow;
  padding-bottom: 20px;
}




//
