.container{
  display: flex;
  justicy-content: center;
  gap: 20px;
  Margin-top:20px;
}

.container div:not(.subtotal){
  height: auto;
}
.cartcontainer{
  padding: 20px;
}
.container img{
  width:100px;
}

.cartcontainer h2
.cartcontainer h3{
  padding: 20px;
}
cartcontainer hr{
  margin: 10px;
}
subtotal{
  padding: 20px;
  min-width: 300px;
  height:80&%;
  display: flex;
  align-items: center;
  gap: 20px;
  border: 1px solid rgb(193, 193, 193);
  background-color:rgb(242, 241, 241);
  border-radius: 5px;
}

subtotal a{
  text-align: center;
  width: 100%;
  border:none;
  background-color: #febd69;
  border-radius: 5px;
  padding: 5px 10px;
  text-decoration: none;
  color: black;

}

subtotal a:hover{
  background-color: #febd69;
}


.subtotal span{
  display: flex;
  gap
}

@media screen and (max-width: 768px){
  .container{
    flex-direction: column;
    order: 1;
  }
 
}